.login-container {
    -fx-background-color: rgba(255,255,255,0.15);
    -fx-background-radius: 20;
    -fx-padding: 30;
    -fx-hgap: 15;
    -fx-vgap: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.2, 0, 5);
}


.root {
    -fx-background-color: linear-gradient(to bottom right, #6a00f4, #b86bff);
    -fx-font-family: "Segoe UI", sans-serif;
}

.left-container {
    -fx-padding: 80 0 80 200;
    -fx-spacing: 25;
}

.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.description {
    -fx-fill: white;
    -fx-font-size: 15px;
    -fx-opacity: 0.85;
}

.main-button {
    -fx-background-color: white;
    -fx-text-fill: #6a00f4;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-padding: 12 35;
    -fx-font-size: 15px;
}

.main-button:hover {
    -fx-background-color: #f3e8ff;
}

	


